# --- Python / logs ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# --- Notebooks temporaires ---
.ipynb_checkpoints/

# --- Modèles ---
models/

# --- Fichiers trop volumineux ---
data/embeddings/
notebooks/artifacts/bertopic/reviews_phrases_with_topics.csv

# --- Environnements ---
.env
.venv/
venv/
*.env